<?xml version="1.0"?>
<project
  applicationName="OULANKA API"
  hostPath="http://localhost:44310"
  
  sendAdminEmailOnException="true"
  disableBackgroundThreads ="false"

  languagesFile="~/Languages/languages.xml"
  defaultLanguage="es-EC"
  filesPath="/files/oulanka"
  resourcesFilePath="/content/resources"
  resourcesFile="resources.xml"
  emailTemplatesLocation="/content/templates/"

  emailGlobalRecipient="deromero@gmail.com"
  emailGlobalSender="deromero@gmail.com"
  emailAdminRecipient="deromero@gmail.com"
  emailContactRequestRecipient="deromero@gmail.com"
  
  smtpServer="localhost"
  smtpServerPort="25"
  smtpServerConnectionLimit="-1"
  smtpServerUsername=""
  smtpServerPassword=""
  
  cacheLocation="/cache"
  userFilesLocation="/files/users"
  tempFilesLocation="/files/temp"
        
  LdapAuthEnabled ="false"
  LdapConnectionPath =""
  LdapDomain=""
  LdapDomainUser=""
  LdapDomainPassword=""
  >
  
  
  <jobs minutes="1" singleThread="true">
    <items>
      
      <add name="Emails" singleThread="true"
           type="Oulanka.Services.Jobs.EmailJob, Oulanka.Services"
           enabled="true" minutes="1" enableShutDown="false" />
      
      <add name="UserSessions" singleThread="true"
           type="Oulanka.Services.Jobs.UserSessionJob, Oulanka.Services"
           enabled="true" minutes="1" enableShutDown="false" />

   <!--   <add name="FileUser" singleThread="true"
           type="Pagarea.Services.Jobs.FileUserJob, Pagarea.Services"
           enabled="true" minutes="1" enableShutDown="false" />
!-->
    </items>
  </jobs>
</project>
