<?xml version="1.0"?>
<routeTable>
  <routes>
    <!-- AUTH & PROFILES -->
    <add name="login" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
      url="login">
      <defaults action="login" controller="account" />
      <dataTokens namespaces="Oulanka.Web.Api.Controllers" />
    </add>
    <add name="register" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
        url="register">
      <defaults action="register" controller="account" />
      <dataTokens namespaces="Oulanka.Web.Api.Controllers" />
    </add>

    <add name="logoff" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="logoff">
      <defaults action="logoff" controller="account" />
      <dataTokens namespaces="Oulanka.Web.Api.Controllers" />
    </add>


    <!-- APP -->
    <add name="dashboard" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="panel">
        <defaults action="index" controller="dashboard" />
      <dataTokens namespaces="Oulanka.Web.Api.Controllers" />
    </add>
    
    

    
    
    
  </routes>
</routeTable>
