@model JerarquiaViewModel

<!-- Jefe Area -->
<div class="modal fade" id="jefe_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Jefe de Area</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="JefeId" value="0" />
                    <input type="hidden" id="JefeRegionalId" value="0" />
                    <div class="form-group">
                        <label for="JefeNombre">Nombre:</label>
                        <input type="text" class="form-control" id="JefeNombre" placeholder="Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="JefeDescripcion">Descripción:</label>
                        <input type="text" class="form-control" id="JefeDescripcion" placeholder="Descripción">
                    </div>
                    <div class="form-group">
                        <label for="JefeNacional">Gerente Regional:</label>
                        <input type="text" class="form-control" id="JefeRegional" placeholder="Nombre" disabled="true" />
                    </div>
                    <div class="form-group">
                        <label for="JefeEstado">Estado:</label>
                        <select name="JefeEstado" id="JefeEstado" class="form-control">
                            <option value="">Seleccione uno:</option>
                            @foreach (var estado in Model.Estados)
                            {
                                <option value="@estado.Id">@estado.Nombre</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="btnJefeSave" class="btn btn-primary pull-right" style="margin-right: 5px;">Guardar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

