
    <div class="pull-right hidden-xs">
        Licenciado a Kfc.com.ec
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="#">Plugthem</a>.</strong> Todos los derechos reservados.
