h1{
	color:$gray;
	font-size: $font-size-huge;
	font-family: $font-stack;
	font-weight: $font-weight-light;
}

h3{
    color:$gray;
	font-size: $font-size-big;
	font-family: $font-stack;
	font-weight: $font-weight-thin;
}