

// Mixins
@mixin default-font() {
    font-family: $font-stack;
    color: $font-color-default;
    font-size: $font-size;
    font-weight: 300;
}

@mixin text-shadow() {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

@mixin white-text-shadow(){
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

@mixin transition() {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


@mixin pagewrapper-shadow() {
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.50);
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.50);
}

@mixin sidebar-shadow() {
    -webkit-box-shadow: inset -6px 2px 5px -4px rgba(0,0,0,0.50);
    -moz-box-shadow: inset -6px 2px 5px -4px rgba(0,0,0,0.50);
    box-shadow: inset -6px 2px 5px -4px rgba(0,0,0,0.50);
}

@mixin central-shadow() {
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
}

@mixin yellow-gradient(){
   
    background-color: #ffb838;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZkNDcwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZjljMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(255, 212, 112)),color-stop(1, rgb(255, 156, 0)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom,rgb(255, 212, 112) 0%,rgb(255, 156, 0) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top,rgb(255, 212, 112) 0%,rgb(255, 156, 0) 100%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(255, 212, 112) 0%,rgb(255, 156, 0) 100%);

 


}