<?xml version="1.0"?>
<providerTable>
  <providers>
    <!--<add name="VtekDbDataProvider" type="BslAdmin.Data.SqlVtekDbDataProvider, BslAdmin.SqlDataProvider"
         connectionStringName="CCADBConnectionString" databaseOwner="dbo" />
    <add name="VtekSriDataProvider" type="BslAdmin.Data.SqlVtekSriDataProvider, BslAdmin.SqlDataProvider"
     connectionStringName="CCADBConnectionString" databaseOwner="dbo" /> -->
  </providers>
</providerTable>
