<?xml version="1.0"?>
<routeTable>
  <routes>
    <!-- AUTH & PROFILES -->
    <add name="login" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
      url="login">
      <defaults action="login" controller="account" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    <add name="register" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
        url="register">
      <defaults action="register" controller="account" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>

    <add name="logoff" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="logoff">
      <defaults action="logoff" controller="account" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>


    <!-- APP -->
    <add name="dashboard" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="panel">
        <defaults action="index" controller="dashboard" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    
    <add name="userhome" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="">
        <defaults action="index" controller="home" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    

    <!-- TICKETS -->
    <add name="panel-new" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="panel/new">
      <defaults action="panelnew" controller="tickets" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    <add name="panel-my" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="panel/my">
      <defaults action="panelmy" controller="tickets" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    <add name="panel-pickup" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="panel/pickup">
      <defaults action="panelpickup" controller="tickets" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    <add name="panel-recent" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="panel/recent-activity">
      <defaults action="activity" controller="actions" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    <add name="panel-show" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="panel/ticket/{id}">
      <defaults action="panelshow" controller="tickets" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    
    
    <add name="user-new" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="new">
      <defaults action="usernew" controller="tickets" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    
  <add name="user-my" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="my/tickets">
      <defaults action="usermy" controller="tickets" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>

    <add name="user-closed" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="my/closed">
      <defaults action="userclosed" controller="tickets" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    <add name="user-activity" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
         url="my/recent-activity">
      <defaults action="useractivity" controller="actions" />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    
    <add name="user-show" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
        url="my/ticket/{id}">
      <defaults action="usershow" controller="tickets"  />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>

    <add name="user-search" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
        url="my/search">
      <defaults action="my" controller="search"  />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    <add name="user-advancedsearch" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
        url="my/search/advanced">
      <defaults action="myadvanced" controller="search"  />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>

    <add name="user-results" routeHandlerType="System.Web.Mvc.MvcRouteHandler, System.Web.Mvc"
        url="my/search/results">
      <defaults action="myresults" controller="search"  />
      <dataTokens namespaces="Oulanka.Web.Mvc.Controllers" />
    </add>
    
    <!-- HELP -->
    
    
  </routes>
</routeTable>
